# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.idea/
android/.gradle
ios/Pods
ios/.symlinks
.flutter-plugins
.flutter-plugins-dependencies
.macos/
*.iml

# VSCode
.vscode/

# Xcode
DerivedData/
*.xcworkspace
*.xcuserstate